<a href="https://colab.research.google.com/github/Janestreett/rangkuman-basis-data-bab-3/blob/main/bab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3.1 IDENTITAS

Kompetensi:

1. Memahami SQL dan perintah DDL.
2. Mampu membuat tabel beserta relationship-nya.
3. Memahami tipe tabel InnoDB.

Topik:

· SQL
· Membuat Tabel
· Constraint Relasi
· Nilai Otomatis dan Nilai Default

---

3.2 TEST AWAL

Perintah SQL dasar:

1. Membuat database:
   ```sql
   CREATE DATABASE praktikum;
   ```
2. Melihat seluruh database:
   ```sql
   SHOW DATABASES;
   ```
3. Mengakses database:
   ```sql
   USE praktikum;
   ```
4. Menghapus database:
   ```sql
   DROP DATABASE praktikum;
   ```

---

3.3 SQL

SQL diklasifikasikan menjadi 3 bagian:

1. DDL (Data Definition Language)
   · Mendefinisikan struktur database.
   · Perintah: CREATE, ALTER, RENAME, DROP.
2. DML (Data Manipulation Language)
   · Memanipulasi data dalam tabel.
   · Perintah: SELECT, INSERT, UPDATE, DELETE.
3. DCL (Data Control Language)
   · Mengatur user dan hak akses.
   · Perintah: GRANT, REVOKE.

---

3.4 MEMBUAT TABLE

3.4.1 Create Table

Contoh:

```sql
CREATE TABLE Mahasiswa (
    NIM CHAR(11),
    Nama VARCHAR(40),
    Alamat VARCHAR(100)
);
```

3.4.2 Melihat Tabel dan Struktur Tabel

· Melihat seluruh tabel:
  ```sql
  SHOW TABLES;
  ```
· Melihat struktur tabel:
  ```sql
  DESC Mahasiswa;
  ```

---

3.5 CONSTRAINT TABLE

Constraint digunakan untuk menjaga integritas data. Jenis constraint:

· Primary Key
· Foreign Key
· Unique
· Not Null
· Check

Contoh Penerapan pada Skema Order Entry:

1. Buat database:
   ```sql
   CREATE DATABASE OrderEntry;
   USE OrderEntry;
   ```
2. Buat tabel Vendors dan Customers dengan constraint.

---

3.6 NILAI OTOMATIS DAN NILAI DEFAULT

3.6.1 Auto Increment

Digunakan untuk menghasilkan nilai unik secara otomatis.
Contoh:

```sql
CREATE TABLE Mahasiswa2 (
    ID INT(5) NOT NULL PRIMARY KEY AUTO_INCREMENT,
    NIM CHAR(5) NOT NULL,
    Nama_mhs VARCHAR(50),
    Jurusan VARCHAR(200),
    Fakultas VARCHAR(30)
);
```

3.6.2 Nilai Default

Memberikan nilai default jika tidak diisi.
Contoh:

```sql
CREATE TABLE Mkull (
    Kode_Mkull INT(5) NOT NULL PRIMARY KEY,
    Nama_Mkull VARCHAR(50),
    SKS INT(1) DEFAULT 0,
    Semester INT(1) DEFAULT 1
);
```

---

3.7 TYPE: INNODB DAN XTRADB

· InnoDB:
  · Mendukung transaksi (commit, rollback, crash recovery).
  · Mendukung foreign key.
  · Default engine sejak MySQL 5.5.
· XtraDB:
  · Pengganti InnoDB di MariaDB, lebih stabil.

Contoh penggunaan:

```sql
CREATE TABLE compress (
    x INT PRIMARY KEY NOT NULL,
    y VARCHAR(50) NULL
) ENGINE=InnoDB;
```

---

3.8 TEST AKHIR

1. Buat database Penjualan_Barang.
2. Buat tabel berdasarkan diagram relationship yang diberikan.
3. Buat laporan praktikum dengan format:
   · Nama file: PrakDB_Bab3_NIM.odt
   · Isi: Source SQL dan screenshot CMD.
   · Simpan di folder PrakDB-NIM.

---

Diagram Relationship (ERD) Penjualan Barang:

· Pelanggan
  · id_Pelanggan (PK)
  · Nama, Alamat, Pekerjaan, No_Ktp, No_telp
· Nota_Penjualan
  · id_Nota (PK)
  · Tgl_Nota
  · id_Pelanggan (FK)
· Barang
  · id_Barang (PK)
  · Nama_Barang, Harga, Stok
· Detail_Jual
  · id_Nota (PK, FK)
  · id_Barang (PK, FK)
  · Jumlah, Harga

---